In [27]:
import pandas as pd
import numpy as np



import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
plt.rcParams['font.family'] = 'NanumGothic'




import folium
import json
from folium.plugins import MarkerCluster
import geopandas as gpd
from shapely.geometry import Point, Polygon,MultiPolygon
from pyproj import Proj




import warnings
warnings.filterwarnings('ignore')

In [28]:
data=pd.read_csv('../data/15~20년도_주택매매데이터.csv')
data['행정구'] = data['시군구'].apply(lambda x: str(x).split()[1])
data['법정동'] = data['시군구'].apply(lambda x: str(x).split()[2])
data['계약년월'] = data['계약년월'].astype(int)
data['계약_년'] = data['계약년월'].apply(lambda x: int(x/100))
data['계약_월'] = data['계약년월'].apply(lambda x: int(x%100))
data['검색키워드1'] = data['시군구'] + " "+data['도로명']
data['검색키워드2'] = data['시군구'] + " "+data['단지명']
data

,Unnamed: 0,시군구,단지명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,행정구,법정동,계약_년,계약_월,검색키워드1,검색키워드2
0,0,서울특별시 강남구 개포동,개포2차현대아파트(220),77.75,201501,11,5,1988,언주로 103,강남구,개포동,2015,1,서울특별시 강남구 개포동 언주로 103,서울특별시 강남구 개포동 개포2차현대아파트(220)
1,1,서울특별시 강남구 개포동,개포2차현대아파트(220),77.75,201503,3,5,1988,언주로 103,강남구,개포동,2015,3,서울특별시 강남구 개포동 언주로 103,서울특별시 강남구 개포동 개포2차현대아파트(220)
2,2,서울특별시 강남구 개포동,개포2차현대아파트(220),77.75,201503,7,2,1988,언주로 103,강남구,개포동,2015,3,서울특별시 강남구 개포동 언주로 103,서울특별시 강남구 개포동 개포2차현대아파트(220)
3,3,서울특별시 강남구 개포동,개포2차현대아파트(220),77.75,201508,16,6,1988,언주로 103,강남구,개포동,2015,8,서울특별시 강남구 개포동 언주로 103,서울특별시 강남구 개포동 개포2차현대아파트(220)
4,4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,201501,29,5,1987,언주로 3,강남구,개포동,2015,1,서울특별시 강남구 개포동 언주로 3,서울특별시 강남구 개포동 개포6차우성아파트1동~8동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576527,576527,서울특별시 중랑구 중화동,한영(104),67.57,202008,7,2,2003,동일로144길 74,중랑구,중화동,2020,8,서울특별시 중랑구 중화동 동일로144길 74,서울특별시 중랑구 중화동 한영(104)
576528,576528,서울특별시 중랑구 중화동,현대휴앤미,95.94,202007,10,6,2007,봉화산로27가길 23,중랑구,중화동,2020,7,서울특별시 중랑구 중화동 봉화산로27가길 23,서울특별시 중랑구 중화동 현대휴앤미
576529,576529,서울특별시 중랑구 중화동,현대휴앤미,100.17,202012,3,5,2007,봉화산로27가길 23,중랑구,중화동,2020,12,서울특별시 중랑구 중화동 봉화산로27가길 23,서울특별시 중랑구 중화동 현대휴앤미
576530,576530,서울특별시 중랑구 중화동,현대휴앤미(102동),77.71,202009,28,5,2007,봉화산로27가길 19,중랑구,중화동,2020,9,서울특별시 중랑구 중화동 봉화산로27가길 19,서울특별시 중랑구 중화동 현대휴앤미(102동)
576531,576531,서울특별시 중랑구 중화동,현대휴앤미(102동),77.71,202009,28,5,2007,봉화산로27가길 19,중랑구,중화동,2020,9,서울특별시 중랑구 중화동 봉화산로27가길 19,서울특별시 중랑구 중화동 현대휴앤미(102동)

In [29]:
temp0_5mil = data[50001:100000].reset_index(drop=True)
temp0_5mil

,Unnamed: 0,시군구,단지명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,행정구,법정동,계약_년,계약_월,검색키워드1,검색키워드2
0,50001,서울특별시 노원구 하계동,장미(시영6),54.02,201511,16,10,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6)
1,50002,서울특별시 노원구 하계동,장미(시영6),54.02,201511,17,7,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6)
2,50003,서울특별시 노원구 하계동,장미(시영6),54.29,201511,18,3,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6)
3,50004,서울특별시 노원구 하계동,장미(시영6),54.02,201511,20,7,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6)
4,50005,서울특별시 노원구 하계동,장미(시영6),43.41,201511,20,9,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,99995,서울특별시 양천구 신월동,해태,84.05,201502,2,14,1999,월정로 21,양천구,신월동,2015,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태
49995,99996,서울특별시 양천구 신월동,해태,59.91,201502,9,11,1999,월정로 21,양천구,신월동,2015,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태
49996,99997,서울특별시 양천구 신월동,해태,59.91,201503,6,3,1999,월정로 21,양천구,신월동,2015,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태
49997,99998,서울특별시 양천구 신월동,해태,84.93,201503,7,9,1999,월정로 21,양천구,신월동,2015,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태
49998,99999,서울특별시 양천구 신월동,해태,59.91,201504,14,2,1999,월정로 21,양천구,신월동,2015,4,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태

In [ ]:
import requests
import json

headers = {
    "Authorization": "_____"
}
n_th_api = 0
def KakaoMap_get_lat_lon(address):
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(address)
    places = requests.get(url, headers = headers).json()['documents']
    try:
        lon = places[0]['x']
        lat = places[0]['y']
    except:
        lon = 0
        lat = 0
    global n_th_api
    n_th_api += 1
    print(n_th_api, "th search lat:",lat,"lon:", lon)
    return  pd.Series([lat,lon])
temp0_5mil[['lat','lon']]= temp0_5mil['검색키워드1'].apply(KakaoMap_get_lat_lon)
temp0_5mil

1 th search lat: 37.6336126598424 lon: 127.06893578859
2 th search lat: 37.6336126598424 lon: 127.06893578859
3 th search lat: 37.6336126598424 lon: 127.06893578859
4 th search lat: 37.6336126598424 lon: 127.06893578859
5 th search lat: 37.6336126598424 lon: 127.06893578859
6 th search lat: 37.6336126598424 lon: 127.06893578859
7 th search lat: 37.6336126598424 lon: 127.06893578859
8 th search lat: 37.6336126598424 lon: 127.06893578859
9 th search lat: 37.6367141265716 lon: 127.068462808633
10 th search lat: 37.6367141265716 lon: 127.068462808633
11 th search lat: 37.6367141265716 lon: 127.068462808633
12 th search lat: 37.6367141265716 lon: 127.068462808633
13 th search lat: 37.6367141265716 lon: 127.068462808633
14 th search lat: 37.6367141265716 lon: 127.068462808633
15 th search lat: 37.6367141265716 lon: 127.068462808633
16 th search lat: 37.6367141265716 lon: 127.068462808633
17 th search lat: 37.6367141265716 lon: 127.068462808633
18 th search lat: 37.6367141265716 lon: 127.068462808633
19 th search lat: 37.6367141265716 lon: 127.068462808633
20 th search lat: 37.6367141265716 lon: 127.068462808633
21 th search lat: 37.6367141265716 lon: 127.068462808633
22 th search lat: 37.6367141265716 lon: 127.068462808633
23 th search lat: 37.6367141265716 lon: 127.068462808633
24 th search lat: 37.6367141265716 lon: 127.068462808633
25 th search lat: 37.6367141265716 lon: 127.068462808633
26 th search lat: 37.637420908596965 lon: 127.0693041250292
27 th search lat: 37.6367141265716 lon: 127.068462808633
28 th search lat: 37.6367141265716 lon: 127.068462808633
29 th search lat: 37.6367141265716 lon: 127.068462808633
30 th search lat: 37.6367141265716 lon: 127.068462808633
31 th search lat: 37.6367141265716 lon: 127.068462808633
32 th search lat: 37.6367141265716 lon: 127.068462808633
33 th search lat: 37.637420908596965 lon: 127.0693041250292
34 th search lat: 37.6367141265716 lon: 127.068462808633
35 th search lat: 37.6367141265716 lon: 127.068462808633
36 th search lat: 37.6367141265716 lon: 127.068462808633
37 th search lat: 37.6367141265716 lon: 127.068462808633
38 th search lat: 37.6367141265716 lon: 127.068462808633
39 th search lat: 37.6367141265716 lon: 127.068462808633
40 th search lat: 37.637420908596965 lon: 127.0693041250292
41 th search lat: 37.637420908596965 lon: 127.0693041250292
42 th search lat: 37.637420908596965 lon: 127.0693041250292
43 th search lat: 37.637420908596965 lon: 127.0693041250292
44 th search lat: 37.6367141265716 lon: 127.068462808633
45 th search lat: 37.637420908596965 lon: 127.0693041250292
46 th search lat: 37.6367141265716 lon: 127.068462808633
47 th search lat: 37.637420908596965 lon: 127.0693041250292
48 th search lat: 37.6367141265716 lon: 127.068462808633
49 th search lat: 37.63960917944099 lon: 127.07266666179767
50 th search lat: 37.63960917944099 lon: 127.07266666179767
51 th search lat: 37.63960917944099 lon: 127.07266666179767
52 th search lat: 37.63248141876827 lon: 127.07130024002107
53 th search lat: 37.63248141876827 lon: 127.07130024002107
54 th search lat: 37.63248141876827 lon: 127.07130024002107
55 th search lat: 37.63248141876827 lon: 127.07130024002107
56 th search lat: 37.63248141876827 lon: 127.07130024002107
57 th search lat: 37.63248141876827 lon: 127.07130024002107
58 th search lat: 37.63248141876827 lon: 127.07130024002107
59 th search lat: 37.63248141876827 lon: 127.07130024002107
60 th search lat: 37.63248141876827 lon: 127.07130024002107
61 th search lat: 37.63248141876827 lon: 127.07130024002107
62 th search lat: 37.63248141876827 lon: 127.07130024002107
63 th search lat: 37.63248141876827 lon: 127.07130024002107
64 th search lat: 37.63248141876827 lon: 127.07130024002107
65 th search lat: 37.63248141876827 lon: 127.07130024002107
66 th search lat: 37.63248141876827 lon: 127.07130024002107
67 th search lat: 37.63248141876827 lon: 127.07130024002107
68 th search lat: 37.63248141876827 lon: 127.07130024002107
69 th search lat: 37.63248141876827 lon: 127.07130024002107
70 th search lat: 37.63248141876827 lon: 127.07130024002107
71 th search lat: 37.63248141876827 lon: 127.07130024002107
72 th search lat: 37.63248141876827 lon: 127.07130024002107
73 th search lat: 37.63248141876827 lon: 127.07130024002107
74 th search lat: 37.63248141876827 lon: 127.07130024002107
75 th search lat: 37.63248141876827 lon: 127.07130024002107
76 th search lat: 37.63248141876827 lon: 127.07130024002107
77 th search lat: 37.63248141876827 lon: 127.07130024002107
78 th search lat: 37.63248141876827 lon: 127.07130024002107
79 th search lat: 37.63248141876827 lon: 127.07130024002107
80 th search lat: 37.63248141876827 lon: 127.07130024002107
81 th search lat: 37.63248141876827 lon: 127.07130024002107
82 th search lat: 37.63248141876827 lon: 127.07130024002107
83 th search lat: 37.63248141876827 lon: 127.07130024002107
84 th search lat: 37.63248141876827 lon: 127.07130024002107
85 th search lat: 37.63248141876827 lon: 127.07130024002107
86 th search lat: 37.63248141876827 lon: 127.07130024002107
87 th search lat: 37.63248141876827 lon: 127.07130024002107
88 th search lat: 37.63248141876827 lon: 127.07130024002107
89 th search lat: 37.63248141876827 lon: 127.07130024002107
90 th search lat: 37.63248141876827 lon: 127.07130024002107
91 th search lat: 37.63248141876827 lon: 127.07130024002107
92 th search lat: 37.63248141876827 lon: 127.07130024002107
93 th search lat: 37.63248141876827 lon: 127.07130024002107
94 th search lat: 37.63248141876827 lon: 127.07130024002107
95 th search lat: 37.63248141876827 lon: 127.07130024002107
96 th search lat: 37.63248141876827 lon: 127.07130024002107
97 th search lat: 37.63248141876827 lon: 127.07130024002107
98 th search lat: 37.63248141876827 lon: 127.07130024002107
99 th search lat: 37.63248141876827 lon: 127.07130024002107
100 th search lat: 37.63248141876827 lon: 127.07130024002107
101 th search lat: 37.63248141876827 lon: 127.07130024002107
102 th search lat: 37.63248141876827 lon: 127.07130024002107
103 th search lat: 37.63248141876827 lon: 127.07130024002107
104 th search lat: 37.63248141876827 lon: 127.07130024002107
105 th search lat: 37.63248141876827 lon: 127.07130024002107
106 th search lat: 37.63248141876827 lon: 127.07130024002107
107 th search lat: 37.63248141876827 lon: 127.07130024002107
108 th search lat: 37.63248141876827 lon: 127.07130024002107

In [21]:
temp0_5mil.to_csv('../주택매매데이터나누기/5~10만 데이터.csv',encoding='utf-8-sig')

,시군구,단지명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,행정구,법정동,계약_년,계약_월,검색키워드1,검색키워드2,lat,lon
0,서울특별시 노원구 하계동,장미(시영6),54.02,201511,16,10,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802
1,서울특별시 노원구 하계동,장미(시영6),54.02,201511,17,7,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802
2,서울특별시 노원구 하계동,장미(시영6),54.29,201511,18,3,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802
3,서울특별시 노원구 하계동,장미(시영6),54.02,201511,20,7,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802
4,서울특별시 노원구 하계동,장미(시영6),43.41,201511,20,9,1989,섬밭로 196,노원구,하계동,2015,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,서울특별시 양천구 신월동,해태,84.05,201502,2,14,1999,월정로 21,양천구,신월동,2015,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102
49995,서울특별시 양천구 신월동,해태,59.91,201502,9,11,1999,월정로 21,양천구,신월동,2015,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102
49996,서울특별시 양천구 신월동,해태,59.91,201503,6,3,1999,월정로 21,양천구,신월동,2015,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102
49997,서울특별시 양천구 신월동,해태,84.93,201503,7,9,1999,월정로 21,양천구,신월동,2015,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102
49998,서울특별시 양천구 신월동,해태,59.91,201504,14,2,1999,월정로 21,양천구,신월동,2015,4,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102

In [23]:
# data1 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008091424.csv',skiprows=15)
# data2 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008093621.csv',skiprows=15)
# data3 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008093654.csv',skiprows=15)
# data4 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008094204.csv',skiprows=15)
# data5 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008094240.csv',skiprows=15)
# data6 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008125802.csv',skiprows=15)
# data7 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008125851.csv',skiprows=15)
# data8 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008130004.csv',skiprows=15)
# data9 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008130057.csv',skiprows=15)
# data10 = pd.read_csv('../주택매매_공공데이터/아파트(매매)__실거래가_20211008130144.csv',skiprows=15)
# merge_data = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10],axis=0)
# tempdata = pd.merge(temp0_5mil, merge_data, on=['시군구','단지명','전용면적(㎡)','계약년월','계약일','층','건축년도','도로명'],how='left')
# tempdata = tempdata.drop_duplicates(['시군구','단지명','전용면적(㎡)','계약년월','계약일','층','건축년도','도로명']).reset_index(drop=True)
# tempdata

,시군구,단지명,전용면적(㎡),계약년월,계약일,층,건축년도,도로명,행정구,법정동,...,계약_월,검색키워드1,검색키워드2,lat,lon,번지,본번,부번,거래금액(만원),해제사유발생일
0,서울특별시 노원구 하계동,장미(시영6),54.02,201511,16,10,1989,섬밭로 196,노원구,하계동,...,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802,273,273.0,0.0,"23,800",NaN
1,서울특별시 노원구 하계동,장미(시영6),54.02,201511,17,7,1989,섬밭로 196,노원구,하계동,...,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802,273,273.0,0.0,"23,000",NaN
2,서울특별시 노원구 하계동,장미(시영6),54.29,201511,18,3,1989,섬밭로 196,노원구,하계동,...,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802,273,273.0,0.0,"23,650",NaN
3,서울특별시 노원구 하계동,장미(시영6),54.02,201511,20,7,1989,섬밭로 196,노원구,하계동,...,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802,273,273.0,0.0,"24,300",NaN
4,서울특별시 노원구 하계동,장미(시영6),43.41,201511,20,9,1989,섬밭로 196,노원구,하계동,...,11,서울특별시 노원구 하계동 섬밭로 196,서울특별시 노원구 하계동 장미(시영6),37.633610,127.067802,273,273.0,0.0,"18,400",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49586,서울특별시 양천구 신월동,해태,84.05,201502,2,14,1999,월정로 21,양천구,신월동,...,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102,514-3,514.0,3.0,"25,900",NaN
49587,서울특별시 양천구 신월동,해태,59.91,201502,9,11,1999,월정로 21,양천구,신월동,...,2,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102,514-3,514.0,3.0,"18,400",NaN
49588,서울특별시 양천구 신월동,해태,59.91,201503,6,3,1999,월정로 21,양천구,신월동,...,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102,514-3,514.0,3.0,"19,900",NaN
49589,서울특별시 양천구 신월동,해태,84.93,201503,7,9,1999,월정로 21,양천구,신월동,...,3,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102,514-3,514.0,3.0,"26,800",NaN
49590,서울특별시 양천구 신월동,해태,59.91,201504,14,2,1999,월정로 21,양천구,신월동,...,4,서울특별시 양천구 신월동 월정로 21,서울특별시 양천구 신월동 해태,37.521644,126.843102,514-3,514.0,3.0,"18,500",NaN